# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.xccheckout
*.pbxuser
DerivedData/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/
